@import '../../src/scss/colors.scss';

.login {
  overflow: hidden;
  background-color: $white;
  padding: 2.5rem 1.875rem 1.875rem 1.875rem;
  border-radius: .625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31.25rem;
  transform: (translate(-50%, -50%));
  transition: (transform 300ms, box-shadow 300ms);
  box-shadow: .3125rem .625rem .625rem rgba($candy, 0.2);

  &::before, &::after {
    content: '';
    position: absolute;
    width: 37.5rem;
    height: 37.5rem;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }

  &::before {
    left: 40%;
    bottom: calc(80px - 131%);
    background-color: rgba($gray, 0.15);
    animation: (wawes 6s infinite linear);
  }

  &::after {
    left: 35%;
    bottom: calc(70px - 121%);
    background-color: rgba($silver, 0.2);
    animation: (wawes 7s infinite);
  }
}