// Emphasis color
$candy: #ffb09e;
$candyOp: rgba(255, 176, 158, 0.8);
$candyLight: #ffb09e;
$coral: #ffb09e;

// Base color
$spaceGray: #4f5554;
$gray: #a6a6a6;
$gray100: #bababa;
$silver: #e5e5e5;
$whiteTwo: #fafbfe;
$white: #ffffff;
$newGray: #a6a8ab;

// background colors
$blush: #f9f0e7;
$blushOp: rgba(#f9f0e7, 0.9);
$blushDark: #eed8c2;
$offwhite: #f9f9f9;
$beige: #f9f0e7;

// feedback colors
$success: #98c05c;
$warning: #f2b33e;
$danger: #e1410e;

// Dev Custom Colors
$black: #040707;
$hover: #ed2a28;

// Table
$brownClear: #faf1e9;
$brownClearOp: rgba(249, 240, 231, 0.9);
$greenTable: #98c05c;

// Border
$border: #e0e0e0;
$borderFilters: #dbdbdb;

// Footer
$newSilver: #d1d1d1;

$inputDisabled: #c5bbbb1f;
